@using WebUI.Models
@model ThemesListViewModel

@{
    ViewBag.Title = "My blog";
}

<div>
    <h3>
        <button type="button" class="btn btn-default btn-lg" onclick="@("window.location.href='" + @Url.Action("Create", "Themes") + "'");">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create new theme
        </button>
    </h3>
</div>

@foreach (var theme in Model.Themes)
{
    @Html.Partial("_ThemeSummary", theme)
}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>
