@using WebUI.Models
@model ThemesListViewModel

@{
    ViewBag.Title = "My blog";
}

@foreach(var theme in Model.Themes)
{
    @Html.Partial("_ThemeSummary", theme)
}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x}))
</div>
