@model WebUI.Models.CreateRoleModel

<h3>Додавання ролі</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary(true, "")
        <p>Назва:  @Html.EditorFor(model => model.Name)</p>
        <p>Опис: @Html.EditorFor(model => model.Description)</p>
        <p><input type="submit" value="Додати" /></p>
    </div>
}
